
.s-wrap {
  background-color: #fff;
  padding: 10px 0;
}
.arrow {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 2%;
  background: url(../images/home-arrow-i.png) no-repeat center;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.head {
  height: 50px;
  position: relative;
  line-height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #bfbfbf;
}
.head h3 {
  text-align: center;
  font-size: 18px;
}
.head span {
  position: absolute;
  right: 2%;
  top: 0;
}
.bot-menu {
  width: 320px;
  height: 48px;
  position: fixed;
  bottom: 0;
  background: url(../images/cart-menu-bg.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
.pay-bar {
  color: #fff;
  height: 40px;
  position: fixed;
  bottom: 48px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #c5c5c5;
}
.total {
  float: left;
  width: 80%;
  height: 40px;
  line-height: 40px;
  background-color: #848086;
}
.btn {
  height: 40px;
  line-height: 40px;
  background-color: #e95e4f;
}

.item_list {
  background-color: #fff;
  margin-bottom: 10px;
}

.item_list dt {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #606060;
}

.item_list dd {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.item_list dd p.img {
  float: left;
  margin-right: 16px;
}

.item_list dd img {
  width: 90px;
  height: 90px;
  border: 1px solid #e1e1e1;
}

.item_list .info p {
  margin: 6px 0; 
}
 
.item_list dd p.price {
  color: #e74c3c;
}

.item_list b {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #606060;
  margin: 10px 20px 0 16px;
}

.item_list b.checked {
  border: 0;
  background: url(../images/checked.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* 数量增减 */
.pluscontainer .op {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d1d1d1;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #ffffff;
}
.pluscontainer .cut {
  margin-right: 4px;
}
.pluscontainer .cut.dis {
  font-size: 16px;
}
.pluscontainer .plus {
  margin-left: 4px;
  font-size: 16px;
}
.pluscontainer .mid {
  width: 65px;
  height: 28px;
}


