header {
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #777;
}

.header-back {
	height: 100%;
	width: 32px;
	background: url(../images/back_arr.png) no-repeat right center;
	background-size: 40%;
}

.header-search {
	height: 100%;
	width: 40px;
	background: url(../images/search.png) no-repeat left center;
	background-size: 50%;
}

.header-title {
	font-size: 18px;
	text-align: center;
	line-height: 60px;
}

.circle-info {
	background-color: #fff;
	padding-bottom: 6px;
	margin-bottom: 10px;
}

.circle-info .img {
	width: 100%;
	height: 162px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	background-size: cover;
}

.circle-info .distance {
	height: 20px;
	line-height: 20px;
	padding-right: 12px;
	text-align: right;
	font-size: 12px;
}

.dist-marker {
	display: inline-block;
	width: 12px;
	height: 20px;
	background: url(../images/marker.png) no-repeat bottom center;
	-webkit-background-size: 90%;
	background-size: 90%;
	margin-right: 6px;
	margin-bottom: -2px;
}

.circle-info .desc {
	margin: 12px;
	height: 50px;
	overflow: hidden;
}

.circle-info .desc.show-all {
	height: auto;
}

.circle-info .arrow {
	height: 20px;
	line-height: 20px;
	text-align: right;
	margin: 0 12px;
	color: #121212;
}

.circle-info .arrow b {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/arr_down.png) no-repeat center;
	-webkit-background-size: 64%;
	background-size: 64%;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
}

.circle-info .arrow b.up {
	-webkit-transform: translateY(4px) rotate(180deg);
	transform: translateY(4px) rotate(180deg);
}

.prom-list {
	background-color: #fff;
	margin-bottom: 10px;
}

.prom-list .type {
	height: 32px;
	line-height: 32px;
	text-align: center;
	position: relative;
}

.prom-list .type b {
	position: absolute;
	right: 12px;
	top: 3px;
	width: 21px;
	height: 25px;
	background: url(../images/right_arr.png) no-repeat right center;
	background-size: 50% 50%;
}

.prom-list .type a {
	text-decoration: none;
	color: #121212;
	font-size: 14px;
	font-weight: bold;
}

.prom-list .items {
	width: 100%;
	padding-bottom: 8px;
}

.prom-list .items li {
	float: left;
	width: 44%;
	margin: 12px 4% 0;
	position: relative;
}

.prom-list .items li:nth-child(2n+1) {
	margin-right: 0;
	margin-bottom: 0;
}

.prom-list .items figure{
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding-bottom: 100%; /* keypoint */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.prom-list .items figure a{
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
}

.prom-list .items b {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 16px;
	line-height: 16px;
	background-color: #78dc7e;
	text-align: center;
	color: #fff;
}

.prom-list .items p {
	line-height: 20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.drop_down {
	text-align: center;
	font-size: 14px;
	color: #2a2a2a;
	line-height: 48px;
}

.menus {
  font-size: 16px;
  line-height: 40px;
  bottom: 10px;
  position: fixed;
  border: 1px solid #bfbfbf;
  background: #fff;
  height: 40px;
  margin: 0 2%;
  width: 96%;
  border-radius: 3px;
  overflow: hidden;
}

.menus li {
  float: left;
  margin: 0 10px;
  width: 50px;
  text-align: center;
}
.menus .wrap{
  overflow: hidden;
  width: 360px;
}
.menus li.current{
  color: #cd2211;
}
.wrapper {
	display: none;
}



