@font-face {
  font-family: 'webIcon';
  src: url('fonts/webIcon.eot?qz6kx9');
  src: url('fonts/webIcon.eot?#iefixqz6kx9') format('embedded-opentype'), url('fonts/webIcon.ttf?qz6kx9') format('truetype'), url('fonts/webIcon.woff?qz6kx9') format('woff'), url('fonts/webIcon.svg?qz6kx9#webIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'webIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #ffffff;
  margin: 0 auto;
}
.page1 {
  position: relative;
  overflow: hidden;
}
.pageInner {
  position: relative;
}
.p-head {
  height: 50px;
  position: relative;
  line-height: 50px;
  border-bottom: 1px solid #bfbfbf;
}
.p-head .arrow {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 2%;
  background: url(/images/home-arrow-i.png) no-repeat center;
  transform: rotate(180deg);
}
.p-head h3 {
  text-align: center;
  font-size: 18px;
}
.p-imgc {
  height: 340px;
  position: relative;
}
.p-imgc img {
  width: 100%;
  height: 100%;
}
.p-imgc .info {
  height: 31px;
  line-height: 31px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 0 12px;
  position: relative;
  top: -34px;
}
.p-price {
  background-color: #eaeaea;
  height: 47px;
  line-height: 45px;
  padding: 0 12px;
}
.p-price .icon-location {
  color: #d32918;
  font-size: 20px;
}
.p-price .icon-location:before {
  content: "\e947";
}
.p-price .price {
  float: left;
  color: #d32918;
}
.p-price .price em {
  font-size: 20px;
  font-style: normal;
}
.p-price .addr {
  float: right;
}
.p-choose {
  position: relative;
  height: 39px;
  line-height: 37px;
  border: 1px solid #b4b4b4;
  background-color: #ffffff;
  font-size: 14px;
  padding: 0 12px;
}
.p-choose .icon-chevron-right {
  font-size: 20px;
  float: right;
  color: #777777;
  position: relative;
  top: 7px;
}
.p-choose .icon-chevron-right:before {
  content: "\f054";
}
.p-drag {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: url(../images/p-border.png) repeat-x 0 20px;
}
.p-drag .dragTxt {
  background-color: #ffffff;
  padding: 0 15px;
  color: #777777;
}
.p-detail {
  padding: 0 12px;
  margin-bottom: 50px;
  color: #141414;
}
.p-detail p {
  margin: 10px 0;
}
.p-bottom {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #eaeaea;
  border-top: 1px solid #898989;
  position: fixed;
  bottom: 0;
}
.p-bottom a {
  display: inline-block;
  float: left;
  width: 35%;
  text-align: center;
  color: #777777;
  text-decoration: none;
}
.p-bottom a p {
  height: 20px;
  line-height: 12px;
  font-size: 9px;
}
.p-bottom a .icon-child {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
}
.p-bottom a .icon-child:before {
  content: "\f1ae";
}
.p-bottom a .icon-cart-plus {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
}
.p-bottom a .icon-cart-plus:before {
  content: "\f217";
}
.p-bottom a .icon-cart-plus i {
  display: inline-block;
  font-style: normal;
  font-size: 9px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background-color: #ff3521;
  border-radius: 50%;
  position: relative;
  top: -2px;
  left: 1px;
  text-align: center;
  color: #ffffff;
}
.p-bottom .addToCart {
  width: 30%;
  background-color: #e75b4d;
  color: #ffffff;
  font-size: 15px;
}
.hehe {
  position: absolute;
  top: 200px;
  width: 98%;
  overflow: hidden;
}
.hehe ul {
  position: relative;
  overflow: auto;
  float: left;
  width: 600px;
}
.hehe ul li {
  float: left;
  clear: right;
  width: 93px;
  height: 40px;
  display: block;
}
/*# sourceMappingURL=productDetail.css.map */