.s-wrap {
  background-color: #fff;
  padding: 10px 0;
}
.arrow {
  width: 30px;
  float: left;
  height: 40px;
  margin: 6px 0 0 2%;
  background: url(../images/home-arrow-i.png) no-repeat center;
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
.search {
  border: 1px solid #bfbfbf;
  background: #fff;
  height: 50px;
  margin: 0 5% 0 13%;
  width: 77%;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #bfbfbf;
}
.search-i {
  width: 22px;
  height: 22px;
  float: left;
  margin: 13px 0 0 10px;
  background: url(../images/home-search-i.png) no-repeat center;
}
.search input {
  border: none;
  font-size: 16px;
  margin: 11px 0 0 10px;
  padding: 6px;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline：none;
}
.hot {
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
}
.hot span {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 3px 5px;
  margin-left: 5px;
  display: inline-block;
  box-shadow: 1px 1px 5px #bfbfbf;
}
.history {
  margin-top: 10px;
  background-color: #fff;
  font-size: 14px;
}
.history li {
  height: 44px;
  line-height: 44px;
  text-indent: 10px;
  border-bottom: 1px solid #f3f5f7;
  margin: 0 10px;
}
.clear {
  height: 44px;
  color: #999;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  background-color: #fff;
}

